.content {
  width: 66.65%;
  padding: px2rem($container-padding-vert) px2rem($container-padding-hor);

  &__item {
    margin-bottom: px2rem($spacing-big);
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__icon {
    display: block;
    margin-left: -#{px2rem(20)};
    margin-right: px2rem(30);
    width: px2rem(85);
    height: px2rem(85);
    background: $icon-bg;
    border-radius: 50%;
    font-size: px2rem(35);
    text-align: center;
    line-height: px2rem(88);
    color: $title-color-dark;
  }
  &__list {
    @include clearfix;
    margin-bottom: px2rem($spacing-default);
  }
}

.list {
  &__item {
    margin-bottom: px2rem($spacing-big);
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &--right {
      min-width: px2rem(250);
      color: $label-color;
      margin-left: px2rem($spacing-default);
      padding-left: px2rem($spacing-default);
      border-left: 2px solid $title-border;
    }
  }
  &__text {
    margin-bottom: px2rem($spacing-default);
    font-weight: 500;
  }
}

.skills {
  position: relative;
  margin-top: px2rem($spacing-big);
  margin-left: -#{px2rem($spacing-default)};
  margin-right: -#{px2rem($spacing-default)};
  &__half {
    width: 50%;
    float: left;
    padding: 0 px2rem($spacing-default);
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: px2rem($spacing-default);
  }
  &__title {
    width: 64%;
    font-size: px2rem(18);
    font-weight: 600;
    text-transform: uppercase;
    color: $label-color;
  }
  &__progress {
    width: 50%;
    padding-left: px2rem($spacing-default);
  }
}

.progress {
  position: relative;
  width: 100%;
  height: px2rem(15);
  background: $icon-bg;
  border-radius: 10px;
  overflow: hidden;
  &__value {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: $label-color;
    &--light {
      background: $label-color2;
    }
  }
}