main.content
  section.content__item
    h2.content__title.uppercase
      span.content__icon
        i.fa.fa-briefcase
      | Experience
    .content__list.list
      +listItem('Contractor @ Upwork', 'Dec 2015 - Present', ['Working as a freelancer, building frontend applications (SaaS, SPA, e-commerce), using React, Vuejs. I prefer to work in professional team on complex and interesting applications.'])
      +listItem('Bevsight', 'Jun 2017 - Feb 2020', ['Working on SaaS solution for bars and restaurants to manage inventory, orders and sales online.'])
      +listItem('Websystems.solutions', 'Aug 2014 - Dec 2015', ['Building frontend for web-applications using angularjs, different preprocessors, automation tools like gulp and webpack, using SCRUM and Agile. Was engaged in building UI for CRM-systems, backoffices and single page applications.'])
      +listItem('SiteSouth Media', 'Aug 2013 - Aug 2014', ['Developing frontend solutions for simple projects, psd-to-html. Worked in team with backend developers.'])

  section.content__item
    h2.content__title.uppercase
      span.content__icon
        i.fa.fa-graduation-cap
      | Education
    .content__list.list
      +listItem('Master of Computer Science @ Khmelnytskyi National University', '2013 - 2014', [''])
      +listItem('Bachelor of Computer Engineering @ Khmelnytskyi National University', '2009 - 2013', [''])
      
  
  section.content__item
    h2.content__title.uppercase
      span.content__icon
        i.fa.fa-code
      | Skills
    .content__list.skills

      .skills__half
        +skillsItem('Html5', 87)
        +skillsItem('css3', 92, 'light')
        +skillsItem('Javascript', 83)
        +skillsItem('jQuery', 90, 'light')
        +skillsItem('grunt / gulp / webpack', 72)
        +skillsItem('sass / stylus', 84, 'light')
        +skillsItem('jade / twig', 64)
      .skills__half
        +skillsItem('Vue.js', 85, 'light')
        +skillsItem('React', 50)
        +skillsItem('AngularJS', 65)
        +skillsItem('Nodejs', 40, 'light')
        +skillsItem('mocha / selenium webdriver', 74)
        +skillsItem('Serverless stack', 43, 'light')
        +skillsItem('linux', 63)
