main.content
  section.content__item
    h2.content__title.uppercase
      span.content__icon
        i.fa.fa-briefcase
      | Experience
    .content__list.list
      +listItem('Graphic Designer @ XOXO Media', 'Jan 2015 - Present', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'])
      +listItem('Graphic Designer @ XOXO Media', 'Jan 2015 - Present', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'])
      +listItem('Graphic Designer @ XOXO Media', 'Jan 2015 - Present', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'])

  section.content__item
    h2.content__title.uppercase
      span.content__icon
        i.fa.fa-graduation-cap
      | Education
    .content__list.list
      +listItem('Graphic Designer @ XOXO Media', 'Jan 2015 - Present', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'])
      +listItem('Graphic Designer @ XOXO Media', 'Jan 2015 - Present', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'])
      +listItem('Graphic Designer @ XOXO Media', 'Jan 2015 - Present', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.'])
  
  section.content__item
    h2.content__title.uppercase
      span.content__icon
        i.fa.fa-code
      | Skills
    .content__list.skills

      .skills__left
        +skillsItem('Illustrator', 45)
        +skillsItem('Photoshop', 45, 'light')
        +skillsItem('Illustrator', 45)
        +skillsItem('Photoshop', 45, 'light')
      .skills__right
        +skillsItem('Illustrator', 45)
        +skillsItem('Photoshop', 45, 'light')
        +skillsItem('Illustrator', 45)
        +skillsItem('Photoshop', 45, 'light')