aside.sidebar
  .profile
    .profile__item.profile__item--main
      img.profile__photo(src="img/photo.jpg", srcset="img/photo.jpg 1x, img/photo@2x.jpg 2x" alt="Artem Mevsha")
      h1.uppercase.profile__title Artem Mevsha
      h2.profile__title.thin Frontend developer
    .profile__item
      h2.uppercase.thin
        .profile__icon
          i.fa.fa-user.icon
        | Profile
      .profile__text
        p I like to create awesome web applications and transform nice design into web pages.

        p Since 2013, I was working in different projects from creating simple templates to building complex web applications on frontend. 
        
        p Please visit my 
          a(href="https://www.upwork.com/freelancers/~019ae7e596702c0d2b?viewMode=1", target="_blank") upwork profile
          |&nbsp;for more info.
    .profile__item
      .contact
        .contact__item
          a(href="mailto:artem.mevsha@gmail.com")
            .profile__icon
              i.fa.fa-envelope
            | artem.mevsha@gmail.com
        .contact__item
          a(href="https://www.google.com.ua/maps/@49.4270982,27.0027508,13z", target="_blank")
            i.fa.fa-map-marker.profile__icon
            | Khmelnitskyi, Ukraine
        .contact__item.contact__item--list
          a.profile__icon.fa.fa-github-square(href="https://github.com/artem-mevsha", target="_blank")
          a.profile__icon.fa.fa-linkedin(href="#", target="_blank")
          a.profile__icon.fa.fa-facebook(href="https://www.facebook.com/artem.mevsha", target="_blank")
          a.profile__icon.fa.fa-telegram(href="tg://resolve?domain=aston4eg")